@{
    ViewData["Title"] = "Tutor";
}
<head>
    <style>
        .form-group, .result, .total-price {
            margin-bottom: 15px;
        }
        label {
            font-weight: bold;
        }
        input {
            padding: 5px;
            margin-left: 5px;
        }
        button {
            padding: 8px 12px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<h1>Tutor Calculator</h1>
<form>
    <div class="form-group">
        <label>授業時間 / Hours:</label>
        <input type="number" min="1" value="1" id="hour">
    </div>
    <br/>
    <div class="result">
        <label>料金 / Price:</label>
        <input id = "price" type="text" value="30" readonly />
    </div>
    <br/>
    <button type="button" id="calculate" onclick="Calculate()">Calculate Price</button>
    <br/>
    <br/>
    <div>
        <label>Overall Price: </label>
        <input type="text" id="total" readonly/>
    </div>
</form>
<script>
    //Calculate the inputs of user for Tutoring
    function Calculate() {
        let hours = parseInt($('#hour').val());
        let price = parseInt($('#price').val());

        let total = hours * price;

        $('#total').val('$' + total);
    }

</script>

</body>